/node_modules/
/dist/
/build/
/out/
/coverage/
/src/__generated__/
/web-api/src/__generated__/
/web-ui/dist/
/web-static/dist/
/web-static/data/
/assistant/.env
/mcp-server/dist
*.log
*.tsbuildinfo
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
/.idea/
/*.iml
.DS_Store
/assistant/src/exporter/exporter.ts
/assistant/src/graphql/graphqlClient.ts
/assistant/src/openai/assistant.ts
/assistant/src/openai/uploader.ts
/assistant/src/createAssistant.ts
/assistant/src/save.ts
/assistant/src/upload.ts
/assistant/FACEBOOKPOST.jsonl
/assistant/fileIds.json
/assistant/INSTAGRAMPOST.jsonl
/assistant/package.json
/assistant/package-lock.json
/assistant/tsconfig.json-hide
/assistant/TWEET.jsonl
